* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  --main-text-color: #0d3451;
  --main-background-color: #d7c870;
  --hidden-text-color: #d7c870;
  --star-color: #d7c870;
  display: grid;
  place-items: center;
  min-height: 100%;
  margin: 0;
  color: var(--main-text-color);
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  background-color: var(--main-background-color);
}

.title {
  font-weight: 800;
  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
}

.phrase {
  font-weight: 800;
  font-size: 55px;
  text-align: center;
  text-transform: uppercase;
  
  color: var(--hidden-text-color);
}

.stars-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  overflow: hidden;
}

.stars-container::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: 
    radial-gradient(6px 6px at 5% 80%, var(--star-color), transparent),
    radial-gradient(2px 2px at 10% 5%, var(--star-color), transparent),
    radial-gradient(2px 2px at 70% 38%, var(--star-color), transparent),
    radial-gradient(3px 3px at 55% 28%, var(--star-color), transparent),
    radial-gradient(4px 4px at 32% 10%, var(--star-color), transparent),
    radial-gradient(2px 2px at 20% 42%, var(--star-color), transparent),
    radial-gradient(2px 2px at 45% 48%, var(--star-color), transparent),
    radial-gradient(6px 6px at 72% 10%, var(--star-color), transparent),
    radial-gradient(2px 2px at 5% 62%, var(--star-color), transparent),
    radial-gradient(8px 8px at 75% 40%, var(--star-color), transparent),
    radial-gradient(2px 2px at 72% 16%, var(--star-color), transparent),
    radial-gradient(4px 4px at 73% 48%, var(--star-color), transparent),
    radial-gradient(4px 4px at 50% 60%, var(--star-color), transparent),
    radial-gradient(5px 5px at 97% 95%, var(--star-color), transparent),
    radial-gradient(2px 2px at 98% 2%, var(--star-color), transparent);
  background-repeat: no-repeat;
}


label {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

input[type="checkbox"] {
  width: 27px;
  height: 27px;
  accent-color: #000;
}

input[type="checkbox"]:focus-visible {
  outline: 2px solid #000;
  outline-offset: 0;
}

body:has(.theme-toggler__control:checked) {
  --main-background-color: #0d3451;
  --main-text-color: #d7c870;
  --hidden-text-color: #dac23f;
}